.contents__wrapper
  .leftbox
    .leftbox__top.box
      %p Taku
      .config-btn
        = link_to new_user_registration_path do
          %i.fas.fa-wrench
    .leftbox__form.box
      = form_for @wallet, url: wallets_path do |f|
        .form__mask__title
          %p 購入した物を入力してください。
          = f.text_field :title, class: 'title', placeholder: '(例) りんご'
          -# = icon('fas', 'cart-plus', class: 'icon')
        .form__mask__price
          %p 金額を入力してください。
          = f.text_field :price, class: 'price', placeholder: '(例) 200'
          -# = icon('fas', 'yen-sign', class: 'icon')
        .form__mask__color
          = f.label :color, class: 'form__mask__color' do
            .purple
              = f.radio_button :color, 1, checked: "checked"
              %span PURPLE
            .blue
              = f.radio_button :color, 2
              %span BLUE
            .pink
              = f.radio_button :color, 3
              %span PINK
        = f.submit '登録', class: 'form__submit', id: 'submit'
        -# :javascript
        -#   $(function() {
        -#     $('.radio_button').change(function() {
        -#       $('.submit').text('');
        -#     });
        -#   });
  .contents
    .contents__main.box
      - @wallets.each do |wallet|
        .content
          .content__title
            = wallet.title
          .content__price
            = wallet.price
            %span 円
  .rightbox
    .rightbox__yellow.box
      .rightbox__yellow-top
        %p 残高設定金額
        200000
        %span 円
      .rightbox__yellow-bottom
        %p 入力された金額の合計
        = @yellow
        %span 円
    .rightbox__purple.box
      %p PURPLEの合計金額
      = @purple
      %span 円
    .rightbox__blue.box
      %p BLUEの合計金額
      = @blue
      %span 円
    .rightbox__pink.box
      %P PINKの合計金額
      = @pink
      %span 円