.contents__wrapper
  .leftbox
    .leftbox__top.box
      %p Taku
      .config-btn
        = link_to edit_user_registration_path do
          %i.fas.fa-wrench
    .leftbox__form.box
      .form
        = form_for @wallet, url: wallets_path do |f|
          = f.label :title, class: 'form-title-mask' do
            = f.text_field :title, class: 'form-title', placeholder: '何を買ったの？'
            = icon('fas', 'cart-plus', class: 'icon')
          = f.label :price, class: 'form-price-mask' do
            = f.text_field :price, class: 'form-price', placeholder: 'いくらだったの？'
            = icon('fas', 'yen-sign', class: 'icon')
          = f.label :color, class: 'form-color-mask' do
            = f.radio_button :color, 1
            = f.radio_button :color, 2
          = f.submit '送信', class: 'form__submit'
  .contents
    .contents__main.box
      - @wallets.each do |wallet|
        .content
          .content__title
            =wallet.title
          .content__price
            =wallet.price
  .rightbox
    .rightbox__yellow.box
    .rightbox__purple.box
    .rightbox__green.box
    .rightbox__pink.box